/* ===============================
   TABLETS
================================ */

@media(max-width:1100px){

header{

padding:0 35px;

}

nav{

display:none;

}


.hero{

flex-direction:column;

padding:50px 30px;

text-align:center;

}


.hero-text{

width:100%;

}


.hero-text h2{

font-size:55px;

}


.hero-text p{

font-size:18px;

}


.hero-image{

margin-top:50px;

width:80%;

}


.books{

overflow-x:auto;

}


.mood{

padding:30px;

}

}




/* ===============================
   MOBILE
================================ */


@media(max-width:700px){


header{

height:80px;

padding:0 20px;

}


.logo h1{

font-size:42px;

}


.logo span{

font-size:9px;

}


.nav-icons{

font-size:18px;

gap:12px;

}


.hero{

padding:40px 20px;

min-height:auto;

}


.hero-text h2{

font-size:42px;

}


.hero-text p{

font-size:16px;

}


.search-box{

flex-direction:column;

gap:10px;

}


.search-box input{

width:100%;

border-radius:15px;

height:60px;

}


.search-box button{

width:100%;

height:60px;

border-radius:15px;

}



.tags{

justify-content:center;

}



.tags button{

padding:12px 18px;

font-size:13px;

}



.popular{

padding:30px 20px;

}



.books{

gap:20px;

}



.book{

min-width:200px;

}



.mood-card{

padding:25px!important;

}



.mood-grid{

grid-template-columns:1fr!important;

}



footer{

flex-direction:column;

gap:35px;

text-align:center;

}


}